
.form { 
    font-style:oblique;
    color: white;
    text-align: center;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcoolbackgrounds.io%2Fimages%2Fbackgrounds%2Findex%2Fcompute-ea4c57a4.png&f=1&nofb=1&ipt=e76164926ff865d296440dcad8daad2dbc8673189850b06dc32f00651d196981&ipo=images");
    background-size: contain;
    max-height: 100vh;
}

label{
    display: block;
    text-align: center;
}

select{
    text-align: center;
}

div{
    margin-bottom: 5%;
}

/* Gender {
    text-align: left;
    font-weight: bold;
} */

#votersID {
    color: pink;
}

#submitButton {
    color: aliceblue;
    background-color: purple;
    text-transform: uppercase;
    width: auto;
}

#resetButton {
    color: aliceblue;
    background-color: purple;
    text-transform: uppercase;
    width: auto;
}